<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>kINEla Apps - HR</title>
</head>
<body>
	<h1>Employees</h1>

	<ul>
		<li th:each="employee : ${employees}">
			<span th:text="${employee.id}">id</span>
			<span th:text="${employee.name}">name</span>
			<span th:text="${employee.title}">title</span>
			<span th:text="${employee.salary}">salary</span>
			<span th:text="${employee.startDateOfWork}">start</span>
		</li>	
	</ul>

	<!-- 
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Title</th>
			<th>Salary</th>
			<th>Start</th>
		</tr>
		<tr>
			<td>Alfreds Futterkiste</td>
			<td>Maria Anders</td>
			<td>Germany</td>
			<td>Germany</td>
			<td>Germany</td>
		</tr>
		<tr>
			<td>Centro comercial Moctezuma</td>
			<td>Francisco Chang</td>
			<td>Mexico</td>
			<td>Germany</td>
			<td>Germany</td>
		</tr>
	</table>
	 -->
</body>
</html>