<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>kINEla Apps - HR</title>
</head>
<body>
	<h1>Employees</h1>
	<table
		style="border: 1px solid black; border-collapse: collapse; width: 50%">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Title</th>
			<th>Salary</th>
			<th>First day</th>
		</tr>
		<tr th:each="employee : ${employees}">
			<td style="border: 1px solid black; width: 10%; text-align: center;"
				th:text="${employee.id}">id</td>
			<td style="border: 1px solid black; width: 22%; text-align: center;"
				th:text="${employee.name}">name</td>
			<td style="border: 1px solid black; width: 22%; text-align: center;"
				th:text="${employee.title}">title</td>
			<td style="border: 1px solid black; width: 22%; text-align: center;"
				th:text="${employee.salary}">salary</td>
			<td style="border: 1px solid black; width: 22%; text-align: center;"
				th:text="${employee.startDateOfWork}">start</td>
		</tr>
	</table>
<br/><br/>
	<table style="border: 1px solid black; border-collapse: collapse; width: 25%">
	<form th:action="@{/employees}" method="post" th:object="${newEmployee}">
		<tr><td><br></td></tr>
	<!--<tr><td>Id:</td><td><input th:field="*{id}" /></td></tr>  -->
		<tr><td style="text-align: center">Name:</td><td><input th:field="*{name}" /></td></tr>
		<tr><td style="text-align: center">Title:</td><td><input th:field="*{title}" /></td></tr>
		<tr><td style="text-align: center">Salary:</td><td><input th:field="*{title}" /></td></tr>
		<tr><td style="text-align: center">First day:</td><td><input th:field="*{title}" /></td></tr>
		<tr><td><br></td></tr>
		<tr><td><br></td><td><input type="submit" value="   Add new employee    " style="align-content: center;"/></td></tr>
		<tr><td><br></td></tr>
	</form>
	</table>
</body>
</html>