<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>kINEla Apps - HR</title>
<style>
body {
	background-color: #272626;
	color: lightgray;
}

table {
	border: 1px solid #566573;
	border-collapse: collapse;
	width: 60%;
}

td {
	border: 0px solid #566573;
	width: 22%;
	text-align: center;
}

th {
	border: 1px solid #566573;
	border-collapse: collapse;
}

input {
	background-color: #566573;
	color: lightgray;
	width: 80%;
}
</style>
</head>
<body>
	<h1>Modify works.</h1>t
	
			<h1 th:text="${employeeById.id}"/>
			<h1 th:text="${employeeById.name}"/>
			<h1 th:text="${employeeById.title}"/>
			<h1 th:text="${employeeById.salary}"/>
			<h1 th:text="${employeeById.startDateOfWork}"/>
	
</body>
</html>