<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>kINEla Apps - HR</title>
<style>
body {
	background-color: #272626;
	color: lightgray;
}

table {
	border: 1px solid #566573;
	border-collapse: collapse;
	width: 60%;
}

td {
	border: 0px solid #566573;
	width: 22%;
	text-align: center;
}

th {
	border: 1px solid #566573;
	border-collapse: collapse;
}

input {
	background-color: #566573;
	color: lightgray;
	width: 80%;
}
</style>
</head>
<body>
	<h1>Employee data modification</h1>

	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Title</th>
			<th>Salary</th>
			<th>First day</th>
		</tr>
		<tr th:each="employee : ${employeeById}">
			<td th:text="${employee.id}">id</td>
	 		<td th:text="${employee.name}">name</td>	
			<td th:text="${employee.title}">title</td>
			<td th:text="${employee.salary}">salary</td>
			<td th:text="${employee.startDateOfWork}">start</td>
		</tr>
	</table>
<br/><br/>


	<table>
	<form th:action="@{/modifyEmployee}" method="post" th:object="${employeeById}">
		<tr><td><br></td></tr>
		<tr><td style="text-align: right;">Id (cannot be modified):</td><td><input th:field="*{id}" readonly/></td></tr>
		<tr><td style="text-align: right;">Name:</td><td><input th:field="*{name}"/></td></tr>
		<tr><td style="text-align: right;">Title:</td><td><input th:field="*{title}"/></td></tr>
		<tr><td style="text-align: right;">Salary:</td><td><input th:field="*{salary}"/></td></tr>
		<tr><td style="text-align: right;">Start date of work (date pattern: dd/mm/yyyy, HH:mm) :</td><td><input th:field="*{startDateOfWork}"/></td></tr>	
		<tr><td><br></td></tr>
		<tr><td><br></td><td><input type="submit" value="   Modify employee    "/></td></tr>
		<tr><td><br></td></tr>
	</form>
	</table>

</body>
</html>